/** Primary colors */
$black: #14191c;
$dark_green: #2f4f69;
$primary_color: #0095b7;
$turqouise: #01cfff;
$white: #ffffff;

/** Secondary colors */
$purple: #9512b8;
$orange: #ff7f00;
$yellow: #ffb100;
$grey: #c4c4c4;
$cream: #efedee;
