/** Primary colors */
/** Secondary colors */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #14191c;
}

.page_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
}

.page_container > * {
  width: 85%;
}

/** Primary colors */
/** Secondary colors */
/** Typography */
/** Primary colors */
/** Secondary colors */
/** Typography */
.header {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__home {
  text-decoration: none;
  font-size: 48px;
  font-style: italic;
  font-family: "Josefin Sans", sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#2f4f69), to(#0095b7));
  background: linear-gradient(to right, #2f4f69, #0095b7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__home:hover {
  background: -webkit-gradient(linear, left top, right top, from(#0095b7), to(#2f4f69));
  background: linear-gradient(to right, #0095b7, #2f4f69);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.header__link {
  text-decoration: none;
  padding: 2px;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 20px;
  position: relative;
}

.header__link::after {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0px;
  height: 2px;
  width: 100%;
  border-radius: 1px;
  background: #0095b7;
  width: 0px;
}

.header__link:hover::after, .header__link--active::after {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0px;
  height: 2px;
  width: 100%;
  border-radius: 1px;
  background: #0095b7;
}

.header__link--active:hover::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0px;
  height: 2px;
  width: 100%;
  border-radius: 1px;
  background: #0095b7;
  width: 2px;
}

.header__link--active {
  color: #0095b7;
}

@media screen and (max-width: 720px) {
  .header {
    gap: 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/** Typography */
/** Primary colors */
/** Secondary colors */
.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -ms-grid;
  display: grid;
  min-height: calc(100vh - 240px);
}

.main .home {
  padding: 24px 0px 24px 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.main .home .home__welcome {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 56px;
  font-style: normal;
  line-height: 84px;
  color: #ffffff;
}

.main .home .home__welcome .home__welcome--name {
  color: #0095b7;
}

.main .home .home__career {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  font-size: 32px;
  font-style: normal;
  line-height: 32px;
  color: #ffffff;
}

.main .home > .home__social_network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.main .home > .home__social_network .home__link {
  background-color: #ffffff;
  color: #14191c;
  display: -ms-grid;
  display: grid;
  width: 26px;
  height: 26px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  border: 1px solid #ffffff;
  -webkit-transition: -webkit-transform 150ms ease-in 20ms;
  transition: -webkit-transform 150ms ease-in 20ms;
  transition: transform 150ms ease-in 20ms;
  transition: transform 150ms ease-in 20ms, -webkit-transform 150ms ease-in 20ms;
}

.main .home > .home__social_network .home__link:hover {
  -webkit-transform: scale(1.25) rotateZ(360deg);
          transform: scale(1.25) rotateZ(360deg);
  background-color: #14191c;
  color: #ffffff;
  -webkit-transition: all 280ms ease-in-out 120ms;
  transition: all 280ms ease-in-out 120ms;
  -webkit-transition-property: background, color;
  transition-property: background, color;
}

/** Typography */
/** Primary colors */
/** Secondary colors */
.footer {
  height: 120px;
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.footer__phrase {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  line-height: 16px;
  color: #c4c4c4;
}

/** Typography */
/** Primary colors */
/** Secondary colors */
.works_container .work__title {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 56px;
  font-style: normal;
  line-height: 84px;
  color: #ffffff;
  padding-bottom: 48px;
}

.works_container .work__list {
  list-style: none;
  display: -ms-grid;
  display: grid;
  gap: 32px 20px;
  -ms-grid-columns: (minmax(360px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}

.works_container .work__list .work__card {
  height: 240px;
  max-width: 400px;
  border-radius: 8px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}

.works_container .work__list .work__card .work__card_image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

.works_container .work__list .work__card:hover .work__card_image {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.works_container .work__list .work__card .work__card_content {
  padding: 8px 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(44, 58, 71, 0.45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 16px;
}

.works_container .work__list .work__card .work__card_name {
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 32px;
  font-style: normal;
  line-height: 32px;
  color: #ffffff;
}

.works_container .work__list .work__card .work__card_repository {
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-radius: 4px;
  border: 1px solid #0095b7;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  font-weight: 700;
  padding: 2px 16px;
  text-decoration: none;
  color: #ffffff;
  background-color: #0095b7;
}

.works_container .work__list .work__card .work__card_name:hover {
  text-decoration: underline;
}

.works_container .work__list .work__card .work__card_repository:hover {
  -webkit-box-shadow: 2px 2px 2px 1px #14191c;
          box-shadow: 2px 2px 2px 1px #14191c;
}
/*# sourceMappingURL=main.css.map */