@import "./../typography";
@import "./../color";

.footer {
  height: 120px;
  justify-self: flex-end;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  &__phrase {
    @include title_h5();
    color: $grey;
  }
}
